* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	width: 100%;
	height: 100%;
}

body {
	display: grid;
	justify-content: center;
	background-image: url(./assets/img/background-body.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

canvas {
	background-color: black;
}
